@charset "utf-8";
/* CSS Document */
body {
	margin: 0px auto;
	padding: 0px;
	width: 100%;
	min-height: 772px;
}

#href {
	text-decoration: none;
}

.tops {
	width: 100%;
	height: 100px;
	background-color: #46acbb;
	background-color: #46acbb;
}

.bg {
	width: 1257px;
	height: 820px;
	background-image: url(../images/bg.jpg);
}

.logo {
	width: 100px;
	height: 100px;
	margin-left:10%;
	background-image: url(../images/logo.png);
	float: left;
	background-repeat: no-repeat;
	background-size: 100% auto;
}

.logosize {
	min-width:200px;
	font-size:40px;
	color: #FFF;
    line-height: 100px;
}

.bgct {
	/*width: 980px;*/
	/*height: 657px;*/
	/*position: relative;*/
	/*left: 138px;*/
}

.bgtop {
	width: 980px;
	height: 74px;
	text-align: center;
	padding-top: 30px;
}

.bgtopbl {
	width: 980px;
	height: 30px;
	padding-top: 10px;
	background-color: #575b5c;
	color: #FFF;
	opacity:0.6;
	filter: Alpha(opacity =  60, finishopacity =  0, style =  0);
}

.bgtopkg {
	widows: 980px;
	height: 20px;
}

.bgctbt {
	width: 980px;
	height: 493px;
}

.bgctlt {
	width: 652px;
	height: 493px;
	float: left;
}

.bgctltlt {
	width: 29px;
	height: 493px;
	float: left;
}

.bgcltltlt {
	width: 299px;
	height: 493px;
	float: left;
}

.bgctlttop {
	width: 652px;
	height: 190px;
	background-color: #575b5c;
	opacity:0.6;
	filter: Alpha(opacity =  60, finishopacity =  0, style =  0);
}

.bgctltct {
	width: 652px;
	height: 20px;
}

.bgctltbt {
	width: 652px;
	height: 283px;
	background-color: #575b5c;
	opacity:0.6;
	filter: Alpha(opacity =  60, finishopacity =  0, style =  0);
}

.bgcltltlttop {
	width: 299px;
	height: 81px;
	background-color: #575b5c;
	opacity:0.6;
	filter: Alpha(opacity =  60, finishopacity =  0, style =  0);
}

.bgcltltltct {
	width: 299px;
	padding-top: 3px;
	height: 26px;
	text-align: center; color : #C60;
	font-size: 22px; font-weight : 800;
	background: url(../images/zcbg.gif) top left repeat-y;
	color: #C60; font-size : 22px;
	font-weight: 800;
}

.bgcltltltbt {
	width: 299px;
	height: 403px;
	background-color: #575b5c;
	opacity:0.6;
	filter: Alpha(opacity =  60, finishopacity =  0, style =  0);
}

.dl {
	width: 112px;
	height: 32px;
	padding-top: 10px;
	background-color: #ff9c00;
	float: left;
	position: relative;
	top: 20px;
	left: 25px;
	text-align: center;
	text-decoration: none;
	color: #FFF;
}

.zc {
	width: 112px;
	height: 32px;
	padding-top: 10px;
	background-color: #46acbb;
	float: left;
	position: relative;
	top: 20px;
	left: 50px;
	text-align: center;
	text-decoration: none;
	color: #FFF;
}

.bgtopsize {
	text-align: center;
	color: #FFF;
	font-size: 38px;
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: 700;
}

.zcsize {
	position: relative;
	top: 10px;
	color: #FFF;
}

.Main {
	position: absolute;
	z-index: 0;
}

.logintable {
	clear: right;
	width: 500px;
	height: 115px;
	text-align: center;
	margin: 0 auto;
}
.logintable span{
	float:left;
	width:20%;
	line-height: 45px;
	margin: 10px 0;
}
#reg {
	padding-bottom: 50px;
}
#reg span{
	float: left;
	width: 20%;
	line-height: 45px;
	margin: 10px 0;
}
.nowite {
	text-decoration: none;
}

.teachermes {
	text-decoration: none;
	color: white;
	height: 50px;
}

.teacherlf {
	width: 130px;
	height: 60px;
	float: left;
	text-align: center;
}

.teacherrt {
	width: 130px;
	height: 60px;
	float: left;
	text-align: center;
}
.botom{
	text-align: center;
	color: #FFF;
	background:#198496;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    line-height: 50px;
	margin:0;
}
	.sec1 {
	BORDER-RIGHT: gray 1px solid;
	BORDER-TOP: #ffffff 1px solid;
	BORDER-LEFT: #ffffff 1px solid;
	CURSOR: hand;
	COLOR: #fff;
	BORDER-BOTTOM: #ffffff 1px solid;
	font-weight:bold;
/* 	BACKGROUND-COLOR: #eeeeee */
}

.sec2 {
	BORDER-RIGHT: gray 1px solid;
	BORDER-TOP: #ffffff 1px solid;
	FONT-WEIGHT: bold;
	BORDER-LEFT: #ffffff 1px solid;
	CURSOR: hand;
	COLOR: #fff;
	font-weight:bold;
/* 	BACKGROUND-COLOR: #d4d0c8 */
}

.main_tab {
	BORDER-RIGHT: gray 1px solid;
	BORDER-LEFT: #ffffff 1px solid;
	COLOR: #ccc;
	font-weight:bold;
	BORDER-BOTTOM: gray 1px solid;
	/* BACKGROUND-COLOR: #d4d0c8 */
}	
.white{
	color:#fff;
	
}
/* 新加	 */
.img_div_1,.img_div_2{
	width:123px;
	height:87px;
	float:left;
	margin-left:50px;
	margin-top:60px;
	background-image:url(../images/index/img_2.jpg);
}
.img_div_2{
	margin-left:20px;
	background-image:url(../images/index/img_1.jpg);
}
.text_div_3{
	width:255px;
	height:115px;
	float:left;
	margin-left:30px;
	margin-top:65px;
/*	background-color:#0F0*/
}
.a_link{
	color:#FFF;
/*	text-decoration:none;*/
}

.index_teacher{
	width:299px;
	height:100px;
	margin-top:5px;
}
.touxiang_div{
	width:120px;
	height:100px;
	float:left;
	margin-left:15px;
/*	background-color:#9F0;*/
}
.textintro_div{
	width:150px;
	height:100px;
	float:left;
	margin-left:9px;
	color:#fff;
	padding-top:5px;
/*	background-color:#C6C;*/
}
.login_DL{
	width:960px;
	margin:0 auto;
}
.login_DC{
	position:relative;
	background-color:#fff;
	height:500px;
}
.login_D{

}
.h2{
	text-align: center;
	font-size: 50px;
}
.TXT{
-webkit-appearance: none;
border: 0;
border-radius: 5px;
height: 45px;
margin:10px 0;
background: #f1f1f1;
width: 80%;
padding: 0.75em;
-moz-transition: background-color 0.35s ease-in-out;
-webkit-transition: background-color 0.35s ease-in-out;
-o-transition: background-color 0.35s ease-in-out;
-ms-transition: background-color 0.35s ease-in-out;
transition: background-color 0.35s ease-in-out;
}
.submit{
-webkit-appearance: none;
position: relative;
display: inline-block;
margin:15px 10px;
border: 0;
background: #46acbb;
color: #fff;
text-shadow: 0 0 0.5px rgba(255,255,255,0.25);
cursor: pointer;
text-decoration: none;
outline: 0;
text-align: center;
font-weight: 400;
border-radius: 10px;
width: 200px;
height: 50px;
font-size: 25px;
line-height: 50px;
-moz-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out;
-webkit-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out;
-o-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out;
-ms-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out;
transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out;
}
.err {width:300px; height:20px; position:absolute; left:430px; top:410px;line-height:20px; bottom:0;}