.channel{
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  height: 250px;
  width: 190px;
  border: 1px solid;
  text-align: center;
  padding:10px;
  margin: 35px 0 0 65px;
  div{
    font-family: Microsoft YaHei;
    font-size: 18px;
    margin:15px 0;
  }
}