.showList{
  margin:35px 16% 0;
  height: 300px;
  font-size:18px;
  font-family: Microsoft YaHei;
  .newTrends,.newClass,.hotClass{
    float: left;
    width: 32%;
    height: 300px;
    .blank{
      height: 2px;
      width: 100%;
      background:blue;
      margin: 5px 0;
    }
    ul{
      height: 65%;
      margin:5% 0;
      li{
        height: 18px;
        line-height: 18px;
        margin: 5.5% 0;
        .content{
          width: 70%;
          overflow: hidden;
          text-overflow:ellipsis;
          white-space: nowrap;
          float: left;
        }
      .time{
          width: 30%;
         float: right;
        }
      }
    }
  }
}