body{
  font-family:Microsoft YaHei,STKaiti;
  .channel-img{
    height: 400px;
  }
  .footer{
    height: 60px;
    line-height: 60px;
    font-size:20px;
    margin: 10px 16%;
    .friendUrl{
      width: 60%;
      margin-right: 10%;
      float: left;
      white-space:nowrap;
      }
    .phone{
      width:30%;
      float: left;
      text-align: center;
    }
  }
}