.channel{
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  height: 350px;
  width: 12%;
  border: 1px solid;
  text-align: center;
  padding:1.9%;
  margin: 35px 0 0 16%;
  float: left;
  white-space: nowrap;
  div{
    font-family: Microsoft YaHei;
    font-size: 18px;
    margin:15px 0;
  }
}