.container{
  padding:0 1%;
  .sign{
   top:20px;
    right: 30px;
    position: absolute;
    .ant-input-search-wrapper{
      margin-right: 20px;
      width: 170px;
    }
    .ant-btn-group{
      vertical-align: top;
    }
  }
  .company{
    margin: 75px 0  15px 50px;
    height: 60px;
    .img{
      border-radius: 100%;
      border: 1px solid ;
      height: 60px;
      width: 60px;
      float:left;
      background-image:url('../../images/697.jpg');
      background-repeat:no-repeat;
      background-size:cover;
    }
    .name{
      float:left;
      line-height:60px;
      padding-left:20px;
    }
  }
}